@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body, a, button {
        font-family: "Poppins", sans-serif;
}

a, li, button {
        cursor: pointer;
}

html.dark .TextInput input, .Textarea, button[data-testid="flowbite-dropdown-target"].Dropdown {
        background-color: #111827;
        color: white;
}
.TextInput input, .Textarea, button[data-testid="flowbite-dropdown-target"].Dropdown {
        padding: 20px;
        background-color: white;
        color: black;
}

@media (max-width: 640px) {
        .TextInput input, .Textarea, button[data-testid="flowbite-dropdown-target"].Dropdown {
                padding: 15px;
        }
}

button[data-testid="flowbite-dropdown-target"].Dropdown {
        display: flex;
        justify-content: space-between;
        width: 100%;
        color: #969BA5;
        font-weight: normal;
        padding: 30px 20px;
        border: 1px solid #969BA5;
}

button[data-testid="flowbite-dropdown-target"].Dropdown div[data-testid="flowbite-dropdown"] {
        width: 100%;
}

#sidebar-user div.h-full.overflow-y-auto.overflow-x-hidden {
        background-color: white !important;
        padding-inline: 0;
        overflow: hidden;
}

html.dark #sidebar-user div.h-full.overflow-y-auto.overflow-x-hidden {
        background-color: #111827 !important;
}

#sidebar-user div[data-testid="flowbite-sidebar-items"] li a:hover {
        padding-inline: 0;
        margin-inline: 5px;
}

@container (max-width: 50px) {
        #sidebar-user div[data-testid="flowbite-sidebar-items"] li a:hover {
                background-color: transparent;
        }
}