@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

html, body, a, button {
        font-family: "Poppins", sans-serif;
}

a, li, button {
        cursor: pointer;
}

.TextInput input, .Textarea {
        padding: 20px;
        background-color: white;
        color: black;
}

#sidebar-user div.h-full.overflow-y-auto.overflow-x-hidden {
        background-color: white !important;
}

#sidebar-user div[data-testid="flowbite-sidebar-items"] li a:hover {
        background-color: transparent;
}

#sidebar-user div[data-testid="flowbite-sidebar-items"] li button:hover{
        background-color: #64C983;
        transition: .2s ease-in-out;
}

#sidebar-user div[data-testid="flowbite-sidebar-items"] li button:hover svg path {
        fill: white;
}