@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@custom-variant dark (&:where(.dark, .dark *));
@theme {
        --breakpoint-xxs: 320px;
        --breakpoint-xs: 420px;
        --color-green-450: #CEFFDC;
        --color-pending: #FFCC00;
        --color-dot-pending: #FFBB00;
        --color-proses: #FFCC00;
        --color-dot-proses: #FFBB00;
        --color-tolak: #F7451D;
        --color-dot-tolak: #FF5858;
        --color-selesai: #9FFFC4;
        --color-dot-selesai: #51FF94;
}